### Question 1
What's the version of NumPy that you installed?

In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [42]:
import numpy as np
import wget
import pandas as pd
import statistics as st
from scipy import stats

In [4]:
np.version.version

'1.22.3'

In [11]:
# wget.download("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

100% [..........................................................................] 1475504 / 1475504

'data.csv'

In [5]:
data=pd.read_csv('data.csv')

In [6]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [7]:
data

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

### Question 2
How many records are in the dataset?

In [8]:
data.shape[0] #number of rows

11914

In [9]:
data.shape[1] #number of columns

16

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [10]:
datax = data['Make'].value_counts()
datay = pd.DataFrame({
        'Make': datax.index, 
        'Frequency': datax.values
})

datay.head(3)

         Make  Frequency
0   Chevrolet       1123
1        Ford        881
2  Volkswagen        809

### Question 4
What's the number of unique Audi car models in the dataset?

In [11]:
audi_models = data[data['Make']=="Audi"]
audi_models

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
17,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
18,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
19,Audi,100,1992,regular unleaded,172.0,6.0,AUTOMATIC,all wheel drive,4.0,Luxury,Midsize,Wagon,20,16,3105,2000
20,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,front wheel drive,4.0,Luxury,Midsize,Sedan,24,17,3105,2000
21,Audi,100,1992,regular unleaded,172.0,6.0,MANUAL,all wheel drive,4.0,Luxury,Midsize,Sedan,21,16,3105,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10901,Audi,TTS,2016,premium unleaded (required),292.0,4.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Factory Tuner,Luxury,Performance",Compact,Coupe,27,23,3105,51900
10902,Audi,TTS,2017,premium unleaded (required),292.0,4.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,27,23,3105,52500
11178,Audi,V8,1992,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2000
11179,Audi,V8,1993,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2149
11180,Audi,V8,1994,regular unleaded,276.0,8.0,AUTOMATIC,all wheel drive,4.0,"Luxury,Performance",Midsize,Sedan,18,13,3105,2239

In [12]:
len(audi_models['Model'].unique().tolist())

34

### Question 5
How many columns in the dataset have missing values?

In [13]:
df_nullx = data.isnull().sum().to_frame('nulls')
df_nullx

                   nulls
Make                   0
Model                  0
Year                   0
Engine Fuel Type       3
Engine HP             69
Engine Cylinders      30
Transmission Type      0
Driven_Wheels          0
Number of Doors        6
Market Category     3742
Vehicle Size           0
Vehicle Style          0
highway MPG            0
city mpg               0
Popularity             0
MSRP                   0

In [14]:
missing_list = df_nullx[df_nullx['nulls'] != 0]
missing_list

                  nulls
Engine Fuel Type      3
Engine HP            69
Engine Cylinders     30
Number of Doors       6
Market Category    3742

In [15]:
missing_list.shape[0]

5

### Question 6
Find the median value of "Engine Cylinders" column in the dataset.

Next, calculate the most frequent value of the same "Engine Cylinders".

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

### Median (without NaN)

In [20]:
#using nanmedian method
data_median=np.nanmedian(data['Engine Cylinders'])
data_median

6.0

In [28]:
#dropping NaN first
data_nonan = data[~np.isnan(data['Engine Cylinders'])]
#data_nonan.shape[0] #1184
#data.shape[0] #11914

11884

In [31]:
#using median method
data_nonan_median = np.median(data_nonan['Engine Cylinders'])
data_nonan_median

6.0

In [29]:
data.shape[0]

11914

In [36]:
data['Engine Cylinders'].value_counts(dropna = False)

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
NaN       30
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [51]:
#manual mode
data_mode_manual = data['Engine Cylinders'].value_counts(dropna = False).index
data_mode_manual[0]

4.0

In [52]:
#mode using st package
data_mode2 = st.mode(data['Engine Cylinders'])
data_mode2

4.0

In [53]:
data_impute = data
data_impute['Engine Cylinders'] = data_impute['Engine Cylinders'].fillna(data_mode2)

In [54]:
#confirmed that the change was made and 30 more accounts are now part of 4.0
data_impute['Engine Cylinders'].value_counts(dropna = False)

4.0     4782
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [56]:
#ANSWER: there was no change in the median value

data_impute_median = np.median(data_impute['Engine Cylinders'])
data_impute_median

6.0

In [57]:
data_impute_median2=np.nanmedian(data_impute['Engine Cylinders'])
data_impute_median2

6.0

### Question 7
Select all the "Lotus" cars from the dataset.

Select only columns "Engine HP", "Engine Cylinders".

Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Invert XTX.

Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the first element of w?

In [82]:
# https://re-thought.com/pandas-value_counts/
# PROC Freq by 2 variables

data_lotus_test=data[data['Make']=='Lotus']
data_lotus_test.groupby('Engine HP')['Engine Cylinders'].value_counts()

Engine HP  Engine Cylinders
189.0      4.0                 4
217.0      4.0                 2
218.0      4.0                 2
240.0      4.0                 3
257.0      4.0                 3
276.0      6.0                 6
345.0      6.0                 4
350.0      8.0                 3
400.0      6.0                 2
Name: Engine Cylinders, dtype: int64

In [66]:
data_lotus = data[data['Make'] == 'Lotus'][['Engine HP','Engine Cylinders']].drop_duplicates()
data_lotus

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [106]:
#convert to numpy array
X = data_lotus.to_numpy()
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [108]:
#transpose of X
XT = X.T
XT

array([[189., 218., 217., 350., 400., 276., 345., 257., 240.],
       [  4.,   4.,   4.,   8.,   6.,   6.,   6.,   4.,   4.]])

In [109]:
#matrix multiplication
XTX = np.dot(XT, X)
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [110]:
#Invert of the transpose of XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [111]:
#new array y
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [116]:
W = np.dot(XTX_inv,XT).dot(y)
W[0]

4.594944810094579